{% extends 'layout.html' %}
{% block title%}Product Detail{% endblock %}
{% block menu%}
<a href="/products/" class="w3-btn">Back to list</a>
{%endblock%}
{% block body%}
        {% if product is defined %}
        <div class="w3-card-4">

        <header class="w3-container w3-blue">
        <h1>Product name: {{product.name}}</h1>
        </header>
        
        <div class="w3-container">
            <table class="w3-table">
            <tr>
                <td>id</td><td>{{product.id}}</td>
            </tr>
            <tr>
                <td>Barcode</td><td>{% if product.barcode == null%}(no barcode){% else %}<span class="bcFont">{{product.barcode}}</span>{% endif %}</td>
            </tr>
            <tr>
                <td>Price</td><td>{{product.price}}</td>
            </tr>
            </table>
        </div>

        <footer class="w3-container w3-blue">
        <h5>Footer</h5>
        </footer>

        </div>
        {% else %}
        Not found
        {% endif %}
        <br>
{% endblock %}